/* fonts inclusion */
@font-face {
    font-family: 'missguided_bold';
    src: url('../fonts/missguided-webfont.eot');
    src: url('../fonts/missguided-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/missguided-webfont.woff2') format('woff2'),
         url('../fonts/missguided-webfont.woff') format('woff'),
         url('../fonts/missguided-webfont.ttf') format('truetype'),
         url('../fonts/missguided-webfont.svg#missguided_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'missguided_lightlight';
    src: url('../fonts/missguided_light-webfont.eot');
    src: url('../fonts/missguided_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/missguided_light-webfont.woff2') format('woff2'),
         url('../fonts/missguided_light-webfont.woff') format('woff'),
         url('../fonts/missguided_light-webfont.ttf') format('truetype'),
         url('../fonts/missguided_light-webfont.svg#missguided_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font fix for chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'missguided_bold';
        src: url('../fonts/missguided-webfont.svg#missguided_bold') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'missguided_lightlight';
        src: url('../fonts/missguided_light-webfont.svg#missguided_lightlight') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}
/* end fonts inclusion */

html, 
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'missguided_lightlight', Arial;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    overflow-x: hidden;
    padding-top: 100px;
}

.spacing {
    margin-bottom: 10%;
}

.department,
h2 {
    font-weight: bold;
}
/* landing page */
#home,
#home a,
#home a:hover {
    color: #fff;
}

.landing-img {
    position: fixed;
}

.landing-p {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 2.1em;
    left: 50%;
    margin-left: -50%;
    line-height: 1em;
}

#home h1 {
    font-family: 'missguided_bold', Arial;
    font-weight: bold;
    color: #474747;
}

#home a {
    font-weight: 100;
    text-decoration: underline;
}

#home a:hover {
    text-decoration: none;
}

#home .form-control {
    border: 1px solid #fff;
    border-radius: 6px;
}

.transp-bkg {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;               /* Good browsers */
}
/* end landing page */

/* wanna work */
#wanna-work {
    color: #474747;
    text-align: center;
}

#wanna-work h2 {
    font-weight: bold;
}

#wanna-work p {
    line-height: 1;
}

.img-container p {
    font-weight: bold;
}

#wanna-work a {
    text-decoration: none;
    color: #474747;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#wanna-work a:hover {
    text-decoration: none;
    color: #d4abe2;
}

#wanna-work a:hover img {
    background: #fff;
    opacity: 0.4;
}
/* end wanna work */

/* culture */
#culture .culture-images {
    overflow: hidden;
}

#culture img {
    -webkit-filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(100%); 
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(100%); 
    -o-transition: .5s ease-in-out;
    filter: grayscale(100%);   

    max-width: 100%;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

#culture img:hover {
    -webkit-filter: saturate(20%);
    filter: saturate(20%);

    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}
/* END culture */

/* our values & our mission */
#values p.first,
#mission p.first {
    padding-top: 10%;
}

#values div.center,
#mission div.center {
    padding-top: 15%;
    font-weight: bold;
}

#values .values-bg {
    background: url('../img/values/value.png') no-repeat;
    background-size: cover;
    color: #fff;
}

#mission .mission-bg {
    background: url('../img/mission/mission.png') no-repeat;
    background-size: cover;
    color: #fff;
}

#values .tree,
#mission .hand {
    padding-top: 10%;
}
/* end our values & our mission */

/* departments & upskilling */
#departments button, 
#upskilling button {
    font-weight: bold;
    color: #474747;
    border-radius: 0;
    border: 1px solid #474747;
}

#departments button:hover, 
#upskilling button:hover {
    color: #9764a9;
    border: 1px solid #9764a9;
    background-color: #fff;
}

#upskilling a,
#departments span {
    color:  #9764a9;
    font-weight: bold; 
}

/* END departments & upskilling */

/* locations */
#locations .container-fluid {
    background: url('../img/locations/map.jpg') no-repeat;
    background-size: cover;
}
/* END locations */

/* Header */
nav {
    background-color: #fff;
    opacity: 0.98;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.35);
}

.navbar {
    padding: 1rem 1rem;
}
/* END Header */

/* Footer */
#footer a {
    color:  #474747;
}

#footer .f-head {
    font-weight: bold;
    font-size: 1.2rem;
}

#footer .ladder {
    width: 80px;
}

#footer .footer-icons {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 1%;
}

#footer h4 {
    font-weight: bold;
}
/* END Footer */

/* media queries */
@media (max-width: 767px) {
    nav {
        min-height: 106px;
    }

    .navbar-brand {
        padding-top: 1rem;
    }

    .navbar-toggler {
        margin-top: 1rem;
    }

    #mission {
        background-color: #d7f4eb;
    }

    #culture {
        background-color: #f9f0e9;
    }

    .landing-img {
        background: url("../img/landing-page-mobile.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #upskilling .skill,
    #departments .skill {
        border-bottom: 1px solid #e8e8e8;
    }

    .img-container ul {
        list-style: none outside none;
        padding-left: 0;
        margin-bottom:0;
    }

    .img-container li {
        display: block;
        float: left;
        margin-right: 6px;
        cursor:pointer;
    }

    .img-container img {
        display: block;
        height: auto;
        max-width: 100%;
    }

@media (min-width: 768px) { 
    nav {
        min-height: 82px;
    }

    .navbar-brand {
        padding-top: 0.5rem;
    }

    .landing-img {
        background: url("../img/landing-page-desktop.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #home h1 {
        font-size: 5em;
    }
}

/* END media queries */