#wanna-work {
	color: #474747;
	text-align: center;
}

#wanna-work p {
	line-height: 1;
}

#wanna-work h1 {
	font-size: 3em;
	font-weight: bold;
}

#wanna-work h4 {
	font-size: 2em;
	font-weight: bold;
}

.img-container p {
	font-size: 1.2em;
	font-weight: bold;
}

#wanna-work .intro p {
	font-size: 1em;
}

#wanna-work a {
	text-decoration: none;
	color: #474747;

	transition: opacity;
	transition-timing-function: ease-out;
	transition-duration: 250ms;
}

#wanna-work a:hover {
	text-decoration: none;
	color: #d4abe2;
}

#wanna-work a:hover img {
	background: #fff;
	opacity: 0.4;
}
